/* You can add global styles to this file, and also import other style files */

/* CSS Reset for full-screen appearance */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
